In [1]:
import os
from pprint import pprint
import pandas as pd
pd.set_option('display.max_colwidth', -1)

DATA_DIR = '/Users/singhn4/Projects/kids_first/data/Schiffman'

In [2]:
# Helper functions
def dropna_rows_cols(df_func):
    """
    Decorator to drop rows and cols w all nan values
    """

    def wrapper(*args, **kwargs):
        df = df_func(*args, **kwargs)

        # None or empty df
        try:
            if df.empty:
                return df
        except AttributeError:
            return df

        # Rows
        df.dropna(how="all", inplace=True)
        # Cols
        df.dropna(how="all", axis=1, inplace=True)
        return df

    return wrapper

def reformat_column_names(df_func):
    """
    Decorator to reformat DataFrame column names.

    Replace all column names having whitespace with underscore
    and make lowercase
    """

    def wrapper(*args, **kwargs):
        df = df_func(*args, **kwargs)
        # None or empty df
        try:
            if df.empty:
                return df
        except AttributeError:
            return df
        df.columns = map((lambda x: x.replace(" ", "_").lower()),
                         df.columns)
        return df

    return wrapper

In [3]:
# Create study
study = {
    'data_access_authority': 'dbGaP',
    'study_id': 'phs001194',
    'study_version': 'v1.p2',
    'study_name': 'Expanded Ewing sarcoma cohort for tumor genomics and association with DNA repair deficiences, clinical presentation, and outcome',
    'attribution': 'https://www.ncbi.nlm.nih.gov/projects/gap/cgi-bin/GetAcknowledgementStatement.cgi?study_id=phs001194.v1.p2'
}
study_df = pd.DataFrame([study])
study_df.to_csv(os.path.join(DATA_DIR, 'study.txt'))

# Create investigator
invest = {
    'investigator_name': 'Joshua Schiffman',
    'institution': 'University of Utah'
}
inv_df = pd.DataFrame([invest])
inv_df.to_csv(os.path.join(DATA_DIR, 'investigator.txt'))

In [4]:
# Read study files data
@reformat_column_names
@dropna_rows_cols
def read_study_file_data(filepaths=None):
    """
    Read in raw study files
    """
    if not filepaths:
        filepaths = os.listdir(DATA_DIR)

    study_files = [{"study_file_name": f}
                   for f in filepaths]
    return pd.DataFrame(study_files)

In [5]:
@reformat_column_names
@dropna_rows_cols
def read_study_data(filepath=None):
    """
    Read study data
    """
    if not filepath:
        filepath = os.path.join(DATA_DIR,
                                'study.txt')
    df = pd.read_csv(filepath)

    return df

In [6]:
@reformat_column_names
@dropna_rows_cols
def read_investigator_data(filepath=None):
    """
    Read investigator data
    """
    if not filepath:
        filepath = os.path.join(DATA_DIR,
                                'investigator.txt')
    df = pd.read_csv(filepath)

    return df

In [7]:
def cols_to_lower(df):
    df.columns = map((lambda x: x.replace(" ", "_").lower()), df.columns)

In [8]:
@reformat_column_names
@dropna_rows_cols
def read_participant_data(filepath=None):
    if not filepath:
        filepath = os.path.join(DATA_DIR, 'Schiffman_X01 Sample List.xlsx')
    # Participants
    df = pd.read_excel(filepath)
    cols_to_lower(df)
    # Extract participant columns
    participant_df = df[['individual_name', 'ewing_trio_number', 'relationship_to_proband']]

    # Create is_proband col
    def func(row): return row.relationship_to_proband == 'Self/Case'
    participant_df['relationship_to_proband'] = participant_df.apply(func, axis=1)

    # Create family_id column
    participant_df.rename(columns={'ewing_trio_number': 'family_id'})
    
    return participant_df

In [9]:
# Participants
filepath = os.path.join(DATA_DIR, 'Schiffman_X01 Sample List.xlsx')
all_data_df = pd.read_excel(filepath)
cols_to_lower(all_data_df)

def create_diagnosis_df(df):
    # Create diagnosis df
    df.loc[(df['morphology'] == "9260/3: Ewing's sarcoma\r\nEwing's tumor"),'morphology']= 'Ewing Sarcoma'    
    def func(row): return "_".join(['diagnosis', str(row.name)])
    df['diagnosis_id'] = df.apply(func, axis=1)
    df = df[['individual_name', 'age_at_diagnosis_(days)', 'morphology']]
    return df

In [10]:
# Sequencing experiment
@reformat_column_names
@dropna_rows_cols
def read_genomic_data(filepath=None):
    if not filepath:
        df = pd.read_excel(os.path.join(DATA_DIR, 'Schiffman_EwingSarcoma_QC_vs_Phenotype.xlsx'))
        del df['instrument_data_ids']
    return df

def create_seq_exp_data(df):
    df = df[['build_id', 'mean_insert_size', 'pf_reads', 'phenotype_sheet_sample_name']]
    return df

In [11]:
# Genomic files
import json 
df = read_genomic_data()
df.describe(include=['O']).T.sort_values('unique', ascending=False)

,count,unique,top,freq
c,1112,1112,H_UM-Schiffman-467-SS-470,1
prefix,1112,1112,H_UM-Schiffman-1181,1
coded,1112,1112,SS-522,1
phenotype_sheet_sample_name,1112,1112,SS-522,1
individual_name,1112,1112,Schiffman-905,1
build_id,1112,1112,db2c90e8acdc4974bfe9b2cc44199e17,1
bam_path,1112,1112,/gscmnt/gc13034/prod-builder/build_merged_alignments/merged-alignment-blade17-3-1.gsc.wustl.edu-prod-builder-3431-5059d31e024f4c94a71bf581ac401ea8/5059d31e024f4c94a71bf581ac401ea8.bam,1
topography,454,33,C40.2: Long bones of lower limb and associated joints,86
morphology,452,11,9260/3: Ewing's sarcoma\n\nEwing's tumor,368
notes_from_washu,1107,6,Sequenced,974
qc_comment,1112,5,pass,918
relationship_to_proband,1112,4,Self/Case,452
full_trio/singleton/dropped,1112,3,Full Trio,988
sample_type,1112,3,Saliva,1071
gender,1112,2,Male,571

In [12]:
# Create genomic file df
def create_genomic_file_df(df):
    df = df[['build_id', 'bam_path']]
    df['file_name'] = df['bam_path'].apply(lambda p: os.path.basename(p))

    def get_ext(fp):
        filename = os.path.basename(fp)
        parts = filename.split('.')
        if len(parts) > 2:
            ext = '.'.join(parts[1:])
        else:
            ext = parts[-1]
        return ext

    with open(os.path.join(DATA_DIR, 'genomic_file_uuid.json'), 'r') as json_file:
        uuid_dict = json.load(json_file)

    gf_dicts = []
    for k, v in uuid_dict.items():
        file_info = {
            'uuid': v['did'],
            'md5sum': v['hashes']['md5'],
            'file_url': v['urls'][0],
            'data_type': 'submitted aligned reads',
            'file_format': get_ext(v['urls'][0]),
            'file_name': os.path.basename(v['urls'][0])
        }
        gf_dicts.append(file_info)

    gf_df = pd.DataFrame(gf_dicts)

    genomic_file_df = pd.merge(df, gf_df, on='file_name')
    
    return genomic_file_df

### Explore

In [13]:
pprint([f for f in os.listdir(DATA_DIR)])

['All_Schiffman_EwingSarcoma_QC_vs_Phenotype.xlsx',
 'Copy of Pilot Score Sheet 2017.xlsx',
 'EwingSarcoma_QC.1112samples.csv',
 'genomic_file_uuid.json',
 'investigator.txt',
 'Schiffman_EwingSarcoma_QC_vs_Phenotype.csv',
 'Schiffman_EwingSarcoma_QC_vs_Phenotype.txt',
 'Schiffman_EwingSarcoma_QC_vs_Phenotype.xlsx',
 'Schiffman_EwingSarcoma_QC_vs_Phenotype_trios_annotated.txt',
 'Schiffman_X01 Sample List.xlsx',
 'study.txt',
 '~$All_Schiffman_EwingSarcoma_QC_vs_Phenotype.xlsx']

#### Sample List (Schiffman_X01 Sample List.xlsx)

In [14]:
sample_list_df = pd.read_excel(os.path.join(DATA_DIR, 'Schiffman_X01 Sample List.xlsx'))
cols_to_lower(sample_list_df)
print(sample_list_df.shape)
sample_list_df.head()

(1207, 12)

,sample_name,individual_name,ewing_trio_number,relationship_to_proband,gender,age_at_diagnosis_(days),age_at_enrollment_(days),topography,morphology,full_trio/singleton/dropped,sample_type,notes_from_washu
0,SS-1,Schiffman-1,189,Father,Male,NaN,12678.0,NaN,NaN,Full Trio,Saliva,Sequenced
1,SS-2,Schiffman-2,189,Mother,Female,NaN,12919.0,NaN,NaN,Full Trio,Saliva,Sequenced
2,SS-3,Schiffman-3,189,Self/Case,Male,3761.0,4424.0,C40.2: Long bones of lower limb and associated joints,9260/3: Ewing's sarcoma\r\nEwing's tumor,Full Trio,Saliva,Sequenced
3,SS-4,Schiffman-4,684,Mother,Female,NaN,16554.0,NaN,NaN,Full Trio,Saliva,Sequenced
4,SS-5,Schiffman-5,684,Father,Male,NaN,16613.0,NaN,NaN,Full Trio,Saliva,Sequenced

In [15]:
sample_list_df.describe(include=['O']).T.sort_values('unique', ascending=False)

,count,unique,top,freq
sample_name,1207,1207,SS-522,1
individual_name,1207,1203,Schiffman-449,2
ewing_trio_number,1207,485,681,6
topography,381,32,C40.2: Long bones of lower limb and associated joints,86
morphology,380,9,9260/3: Ewing's sarcoma\r\nEwing's tumor,371
notes_from_washu,1200,8,Sequenced,974
full_trio/singleton/dropped,1207,6,Full Trio,989
relationship_to_proband,1207,4,Self/Case,487
sample_type,1207,3,Saliva,1153
gender,1207,2,Male,618

In [16]:
# Unique morphologies
print('Morphologies')
pprint(sample_list_df['morphology'].unique().tolist())
print('\nTopographies')
# Unique topographies
pprint(sample_list_df['topography'].unique().tolist())

Morphologies
[nan,
 "9260/3: Ewing's sarcoma\r\nEwing's tumor",
 '170.9 - Ewing Sarcoma & 171.0 - Rhabdomyosarcoma',
 'Ewing sarcoma with EWSR1 (22q12) rearrangement',
 'Most consistent with Ewing (EWS-FLI negative)',
 '9364/3: Neuroectodermal Tumor, NOS',
 '9364/3: Peripheral neuroectodermal tumor\r\nNeuroectodermal tumor, NOS',
 'Ewing Sarcoma/PNET',
 '171.8 - Malignant Neoplasm of other specified sites of connective and other '
 'soft tissue. Undifferentiated sarcoma of the left thigh',
 '170.9: Malignant neoplasm of bon and articular cartilage, Ewing Sarcoma']

Topographies
[nan,
 'C40.2: Long bones of lower limb and associated joints',
 'C41.2: Vertebral column',
 'C41.4: Pelvic bones, sacrum, coccyx and associated joints',
 'C40.0: Long bones of upper limb, scapula and associated joints',
 'C41.3: Rib, sternum, clavicle and associated joints',
 'C76.5: Lower limb, NOS',
 'C40.3: Short bones of lower limb and associated joints',
 'C41.1: Mandible',
 'C76.3: Pelvis, NOS',
 'C40.9: Bone of limb, NOS',
 'C41.9: Bone, NOS',
 'C41.0: Bones of skull and face and associated joints',
 'C76.1: Thorax, NOS',
 'Unknown',
 'C40.1: Short bones of upper limb and associated joints',
 'Soft tissue of the left pelvis',
 'C76.4: Upper limb, NOS',
 'Mediastinum',
 'Left Posterior flank',
 'C76.7: Other ill-defined sites',
 'C76.2: Abdomen, NOS',
 'Left Upper Back',
 'Left Posterior Thigh',
 'C71.9: Primitive neuroectodermal tumor',
 'Right pumonary lesion',
 'Ewing Sarcoma of the Right Foot',
 'Anterior left middle cranial fossa',
 'Left thigh',
 'C76.0: Head, face or neck, NOS',
 'Right Flank',
 'Soft tissue of left forearm',
 'Ewing sarcoma of the Kidney']

#### QC Phenotype (Schiffman_EwingSarcoma_QC_vs_Phenotype.xlsx)

In [17]:
qc_phenotype_df = pd.read_excel(os.path.join(DATA_DIR, 'Schiffman_EwingSarcoma_QC_vs_Phenotype.xlsx'))
del qc_phenotype_df['instrument_data_ids']
cols_to_lower(qc_phenotype_df)
qc_phenotype_df.head()

,c,prefix,coded,phenotype_sheet_sample_name,individual_name,ewing_trio_number,relationship_to_proband,relationship_coded,gender,age_at_diagnosis_(days),...,reads_mapped_in_interchromosomal_pairs_percentage,reads_mapped_as_singleton_percentage,pct_10x,pct_20x,discordant_rate,qc_comment,pass/fail,proband_pass,mother_pass,father_pass
0,H_UM-Schiffman-856-SS-859,H_UM-Schiffman-856,SS-859,SS-859,Schiffman-856,1,Self/Case,1,Female,5377.0,...,0.018480,0.17,0.988625,0.924837,2.448235,pass,0,1,0,0
1,H_UM-Schiffman-857-SS-860,H_UM-Schiffman-857,SS-860,SS-860,Schiffman-857,1,Mother,2,Female,NaN,...,0.021641,0.17,0.989257,0.959560,2.708281,pass,0,0,1,0
2,H_UM-Schiffman-858-SS-861,H_UM-Schiffman-858,SS-861,SS-861,Schiffman-858,1,Father,3,Male,NaN,...,0.021698,0.16,0.992999,0.923224,2.803853,pass,0,0,0,1
3,H_UM-Schiffman-827-SS-830,H_UM-Schiffman-827,SS-830,SS-830,Schiffman-827,2,Self/Case,1,Female,5455.0,...,0.018074,0.21,0.988363,0.907885,2.401644,pass,0,1,0,0
4,H_UM-Schiffman-826-SS-829,H_UM-Schiffman-826,SS-829,SS-829,Schiffman-826,2,Mother,2,Female,NaN,...,0.018384,0.25,0.988576,0.927557,2.597264,pass,0,0,1,0

In [18]:
qc_phenotype_df.describe(include=['O']).T.sort_values('unique', ascending=False)
# qc_phenotype_df.dtypes

,count,unique,top,freq
c,1112,1112,H_UM-Schiffman-467-SS-470,1
prefix,1112,1112,H_UM-Schiffman-1181,1
coded,1112,1112,SS-522,1
phenotype_sheet_sample_name,1112,1112,SS-522,1
individual_name,1112,1112,Schiffman-905,1
build_id,1112,1112,db2c90e8acdc4974bfe9b2cc44199e17,1
bam_path,1112,1112,/gscmnt/gc13034/prod-builder/build_merged_alignments/merged-alignment-blade17-3-1.gsc.wustl.edu-prod-builder-3431-5059d31e024f4c94a71bf581ac401ea8/5059d31e024f4c94a71bf581ac401ea8.bam,1
topography,454,33,C40.2: Long bones of lower limb and associated joints,86
morphology,452,11,9260/3: Ewing's sarcoma\n\nEwing's tumor,368
notes_from_washu,1107,6,Sequenced,974
qc_comment,1112,5,pass,918
relationship_to_proband,1112,4,Self/Case,452
full_trio/singleton/dropped,1112,3,Full Trio,988
sample_type,1112,3,Saliva,1071
gender,1112,2,Male,571

#### Trio Summary

In [19]:
trio_df = pd.read_excel(os.path.join(DATA_DIR, 'Schiffman_EwingSarcoma_QC_vs_Phenotype.xlsx'), sheet_name=1)
# trio_df.head()

### Extract

In [20]:
# Study
study_df = read_study_data()
study_df.head()

,unnamed:_0,attribution,data_access_authority,study_id,study_name,study_version
0,0,https://www.ncbi.nlm.nih.gov/projects/gap/cgi-bin/GetAcknowledgementStatement.cgi?study_id=phs001194.v1.p2,dbGaP,phs001194,"Expanded Ewing sarcoma cohort for tumor genomics and association with DNA repair deficiences, clinical presentation, and outcome",v1.p2

In [21]:
# Investigator
investigator_df = read_investigator_data()
investigator_df.head()

   unnamed:_0         institution investigator_name
0  0           University of Utah  Joshua Schiffman

In [22]:
# Study files
study_file_df = read_study_file_data()
study_file_df.head()

                                   study_file_name
0  All_Schiffman_EwingSarcoma_QC_vs_Phenotype.xlsx
1  Copy of Pilot Score Sheet 2017.xlsx
2  EwingSarcoma_QC.1112samples.csv
3  genomic_file_uuid.json
4  investigator.txt

In [24]:
# Participants
participant_df = read_participant_data()
participant_df.head()

/Users/singhn4/Projects/kids_first/kf-api-dataservice/venv/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  individual_name ewing_trio_number  relationship_to_proband
0  Schiffman-1     189               False
1  Schiffman-2     189               False
2  Schiffman-3     189               True
3  Schiffman-4     684               False
4  Schiffman-5     684               False

In [25]:
# Diagnosis
diagnosis_df = create_diagnosis_df(all_data_df)
diagnosis_df.head()
diagnosis_df = diagnosis_df.where((pd.notnull(diagnosis_df)), None)
diagnosis_df.head()

  individual_name age_at_diagnosis_(days)     morphology
0  Schiffman-1     None                    None
1  Schiffman-2     None                    None
2  Schiffman-3     3761                    Ewing Sarcoma
3  Schiffman-4     None                    None
4  Schiffman-5     None                    None

In [38]:
# Phenotypes
def create_phenotype_df(df):
    df['phenotype'] = "Ewing's Sarcoma"
    df['hpo_id'] = "HP:0012254"
    df['observed'] = "yes"
    return df
phenotype_df = create_phenotype_df(diagnosis_df)
phenotype_df.head()

,individual_name,age_at_diagnosis_(days),morphology,phenotype,hpo_id,observed
0,Schiffman-1,None,None,Ewing's Sarcoma,HP:0012254,yes
1,Schiffman-2,None,None,Ewing's Sarcoma,HP:0012254,yes
2,Schiffman-3,3761,Ewing Sarcoma,Ewing's Sarcoma,HP:0012254,yes
3,Schiffman-4,None,None,Ewing's Sarcoma,HP:0012254,yes
4,Schiffman-5,None,None,Ewing's Sarcoma,HP:0012254,yes

In [125]:
# Family relationships
df = all_data_df[['individual_name', 'relationship_to_proband', 'ewing_trio_number']]
df.drop_duplicates('individual_name', inplace=True)
df['ewing_trio_number'] = df['ewing_trio_number'].astype(str)
fams = []
# For each group
for name, g in df.groupby('ewing_trio_number'):
    fam = {}
    # For each individual in family group
    for idx, row in g.iterrows():
        rel = row['relationship_to_proband']
        if rel == 'Self/Case':
            col = 'relative_id'
        else:
            col = 'participant_id'
        fam[col] = row['individual_name']
        fam['participant_to_relative_relation'] = rel
    if rel != 'Self/Case':    
        fams.append(fam)
df = pd.DataFrame(fams)
def func(row): return "_".join(['rel', str(row.name)])
df['rel_id'] = df.apply(func, axis=1)

/Users/singhn4/Projects/kids_first/kf-api-dataservice/venv/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                        count unique             top freq
individual_name          1203  1203   Schiffman-905   1
ewing_trio_number        1203  485    Control Trio 4  3
relationship_to_proband  1203  4      Self/Case       485

In [169]:
# Create family relationships
df = all_data_df[['individual_name', 'relationship_to_proband', 'ewing_trio_number']]
family_dict = {}
for idx, row in df.iterrows():
    fam_id = row['ewing_trio_number']
    if fam_id not in family_dict:
        family_dict[fam_id] = {}
    family_dict[fam_id][row['relationship_to_proband']] = row['individual_name']
df = pd.DataFrame(list(family_dict.values()))
df

             Father          Mother       Self/Case Sister
0    Schiffman-1     Schiffman-2     Schiffman-3     NaN
1    Schiffman-5     Schiffman-4     Schiffman-6     NaN
2    Schiffman-8     Schiffman-7     Schiffman-9     NaN
3    NaN             NaN             Schiffman-10    NaN
4    Schiffman-12    Schiffman-11    Schiffman-13    NaN
5    NaN             NaN             Schiffman-14    NaN
6    Schiffman-16    Schiffman-15    Schiffman-17    NaN
7    Schiffman-20    Schiffman-19    Schiffman-18    NaN
8    Schiffman-21    Schiffman-22    Schiffman-23    NaN
9    Schiffman-24    Schiffman-26    Schiffman-25    NaN
10   NaN             NaN             Schiffman-27    NaN
11   Schiffman-28    Schiffman-29    Schiffman-30    NaN
12   Schiffman-32    Schiffman-31    Schiffman-33    NaN
13   Schiffman-35    Schiffman-34    Schiffman-36    NaN
14   Schiffman-38    Schiffman-37    Schiffman-39    NaN
15   NaN             NaN             Schiffman-40    NaN
16   Schiffman-973   Schiffman-974   Schiffman-41    NaN
17   Schiffman-43    Schiffman-42    Schiffman-44    NaN
18   Schiffman-45    Schiffman-46    Schiffman-47    NaN
19   Schiffman-48    Schiffman-49    Schiffman-50    NaN
20   Schiffman-53    Schiffman-52    Schiffman-51    NaN
21   Schiffman-54    Schiffman-55    Schiffman-56    NaN
22   Schiffman-59    Schiffman-58    Schiffman-57    NaN
23   NaN             NaN             Schiffman-60    NaN
24   NaN             NaN             Schiffman-61    NaN
25   Schiffman-64    Schiffman-63    Schiffman-62    NaN
26   NaN             NaN             Schiffman-65    NaN
27   Schiffman-68    Schiffman-66    Schiffman-67    NaN
28   Schiffman-69    Schiffman-70    Schiffman-71    NaN
29   Schiffman-73    Schiffman-74    Schiffman-72    NaN
..            ...             ...             ...    ...
455  Schiffman-1124  Schiffman-1123  Schiffman-1122  NaN
456  Schiffman-1125  Schiffman-1126  Schiffman-1127  NaN
457  Schiffman-1130  Schiffman-1128  Schiffman-1129  NaN
458  NaN             NaN             Schiffman-1131  NaN
459  Schiffman-1133  Schiffman-1132  Schiffman-1134  NaN
460  NaN             NaN             Schiffman-1135  NaN
461  Schiffman-1137  Schiffman-1136  Schiffman-1138  NaN
462  Schiffman-1140  Schiffman-1141  Schiffman-1139  NaN
463  NaN             NaN             Schiffman-1142  NaN
464  Schiffman-1143  Schiffman-1144  Schiffman-1145  NaN
465  Schiffman-1146  Schiffman-1147  Schiffman-1148  NaN
466  Schiffman-1150  Schiffman-1151  Schiffman-1149  NaN
467  Schiffman-1153  Schiffman-1152  Schiffman-1154  NaN
468  Schiffman-1156  Schiffman-1157  Schiffman-1155  NaN
469  Schiffman-1158  Schiffman-1160  Schiffman-1159  NaN
470  Schiffman-1163  Schiffman-1161  Schiffman-1162  NaN
471  Schiffman-1166  Schiffman-1165  Schiffman-1164  NaN
472  Schiffman-1168  Schiffman-1167  Schiffman-1169  NaN
473  Schiffman-1171  Schiffman-1170  Schiffman-1172  NaN
474  Schiffman-1173  Schiffman-1174  Schiffman-1175  NaN
475  Schiffman-1176  Schiffman-1178  Schiffman-1177  NaN
476  NaN             NaN             Schiffman-1179  NaN
477  Schiffman-1180  Schiffman-1181  Schiffman-1182  NaN
478  Schiffman-1184  Schiffman-1185  Schiffman-1183  NaN
479  Schiffman-1186  Schiffman-1187  Schiffman-1188  NaN
480  Schiffman-1190  Schiffman-1189  Schiffman-1191  NaN
481  Schiffman-1194  Schiffman-1193  Schiffman-1192  NaN
482  Schiffman-1196  Schiffman-1195  Schiffman-1197  NaN
483  Schiffman-1199  Schiffman-1198  Schiffman-1200  NaN
484  Schiffman-1203  Schiffman-1202  Schiffman-1201  NaN

[485 rows x 4 columns]